#os-slider-table {
	background-color: white;
	width: 100%;
	border-collapse: collapse;

	tr {
		background-color: white;
		cursor: move;
	}
	
	.ui-sortable tr {
		min-height: 230px;
		height: 230px;
	}
	.ui-sortable-helper { opacity: 0.5; filter: blur(1px); -webkit-filter: blur(1px);}
	.ui-state-highlight { height: 230px; line-height: 230px; background-color: #f4f4f4; }

	th,
	td {
		min-width: 25px;
		width: 2%;
		padding: 10px;
		text-align: left;
		border: 1px solid #ddd;
	}

	th {
		background-color: #f4f4f4;
	}

	th.heading-column,
	td.heading-column {
		width: 20%;
		/* Name column */
	}

	th.caption-column,
	td.caption-column {
		width: 40%;
		/* Details (WYSIWYG editor) column */
	}

	th.image-column,
	td.image-column {
		max-width: 15%;
		width: 100%;

		/* Image column */
		.slider-image-thumbnail {
			position: relative;
			min-width: 100%;
			width: 100%;
			display: inline-block;

			img {
				min-width: 100%;
				width: 100%;
				height: auto;
				border-radius: 5px;
			}

			button.slider-remove-image {
				position: absolute;
				top: 0;
				right: 0;
				border-radius: 5px;
				color: white;
				background-color: red;
				border-color: red;
				padding: 5px;
				padding: 5px;
				line-height: unset;
				min-height: unset;
				font-size: smaller;
				
				&:hover {
					color: red;
					background-color: rgba(255, 255, 255, 0.5);
					border-color: red;
				}
			}
		}
	}

	th.cta-column,
	td.cta-column {
		width: 15%;
		/* Remaining space for category */
	}

	.action-column button {
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: auto;
		border: none;
		padding: 0;
		background-color: transparent;
	}

	.action-column button:focus {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	th.action-column {
		text-align-last: center;
	}

	/* Optional: Make the table responsive on smaller screens */
	@media (max-width: 768px) {

		th,
		td {
			display: block;
			width: 100%;
		}

		tr {
			margin-bottom: 15px;
			display: block;
		}
	}
}


#slide-selection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto auto;
	width: 80%;
	height: 100vh;
	gap: 3rem;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		gap: 3rem;

		.slider-types {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			gap: 20px;
			width: 100%;
			max-width: 800px;
		}
	}

	.form-control {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1rem;
		font-weight: bold;
		color: #333;
		border: 2px solid #ccc;
		border-radius: 8px;
		background-color: #f9f9f9;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		padding: 20px;
	}

	.form-control:hover {
		border-color: #0073aa;
		background-color: #eef7ff;
	}

	.form-control input[type="radio"] {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	.form-control input[type="radio"]:checked+span {
		color: #fff;
	}

	.form-control:has(input[type="radio"]:checked) {
		border-color: #0073aa;
		background-color: #0073aa;
		color: #fff;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}

	.form-control input[type="radio"]:checked+span {
		color: white;
	}

	.form-control span {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}



#product-details-table {
	background-color: white;
	width: 100%;
	border-collapse: collapse;

	tr {
		background-color: white;
		cursor: move;
	}

	th,
	td {
		min-width: 25px;
		width: 2%;
		padding: 10px;
		text-align: left;
		border: 1px solid #ddd;
	}

	th {
		background-color: #f4f4f4;
	}

	th.name-column,
	td.name-column {
		width: 20%;
		/* Name column */
	}

	th.details-column,
	td.details-column {
		width: 40%;
		/* Details (WYSIWYG editor) column */
	}

	th.image-column,
	td.image-column {
		max-width: 15%;
		width: 100%;

		/* Image column */
		.slider-image-thumbnail {
			position: relative;
			min-width: 100%;
			width: 100%;
			display: inline-block;

			img {
				min-width: 100%;
				width: 100%;
				height: auto;
				border-radius: 6px;
				object-fit: cover;
				border-radius: 6px
			}
		}

		.slider-remove-image {
			position: absolute;
			top: 0;
			right: 0;
			padding: 5px;
			line-height: unset;
			min-height: unset;
			font-size: smaller;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	th.category-column,
	td.category-column {
		width: 15%;
		/* Remaining space for category */
	}

	.action-column button {
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: auto;
		border: none;
		padding: 0;
		background-color: transparent;
	}

	.action-column button:focus {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	th.action-column {
		text-align-last: center;
	}

	/* Optional: Make the table responsive on smaller screens */
	@media (max-width: 768px) {

		th,
		td {
			display: block;
			width: 100%;
		}

		tr {
			margin-bottom: 15px;
			display: block;
		}
	}
}